@model IEnumerable<ClockCardAplication.Models.Project>

@{
    ViewBag.Title = "Index";
}

<h2>@Session["UserName"]'s Projects</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Customer", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.ActionLink("Project Start", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.timeSpentInHours)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.customer.fullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.timeSpentInHours)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.projectId }) |
            @Html.ActionLink("Details", "Details", new { id=item.projectId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.projectId })
        </td>
    </tr>
}

</table>
